<div class="modal">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">MATERIA PRIMA/INSUMOS/COMPONENTS</h1>
	<i class="fa fa-times fa-2x pull-right"  ng-click="closeNewItemModal()"></i>    
  </ion-header-bar>
<ion-content>
    <form ng-submit="addItem()">
		<div class="list">
			<div class="item item-input-inset no-item-margin-border">
				<span class="input-label">CODIGO</span>
				<label class="item-input-wrapper list-item-bgcolor border-all">
					<input type="text" value="PPLCOL00113000000000" ng-model="newItemData.code">
				</label>			
			</div>
			<div class="item item-input-inset no-item-margin-border">
				<span class="input-label">DESCRICAO</span>
				<label class="item-input-wrapper list-item-bgcolor border-all">
					<input type="text" value="COLUNA NORMAL CH12 2800MM" ng-model="newItemData.description">
				</label>			
			</div>
			<div class="item item-input no-item-margin-border">
				<label class="input-label">QUANTITADE</label>
				<label class="border-all">
					<input type="text">
				</label>
				<!--<select>
					<option>Blue</option>
					<option selected>Green</option>
					<option>Red</option>
				</select>-->
			</div>
			<br/>
			<br/>
			<label class="item item-input-inset no-item-margin-border">
				<span class="input-label"></span>
				<button class="button icon-left fa fa-check">OK</button>&nbsp;&nbsp;&nbsp;
				<button class="button icon-left fa fa-times" ng-click="closeLogin()">CANCEL</button>				
			</label>
		</div>
    </form>
  </ion-content>
</div>

