<div class="modal">
	<ion-header-bar align-title="left" class="bar-positive">
		<h1 class="title mfg-add-item-title">{{modalHeader}}</h1>
		<div class="buttons">
			<button class="button button-icon" ng-click="closeAddItem()"><i class="fa fa-times"></i></button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header content-body">
		<form ng-submit="saveItem(processdata.id, operation.id)">
			<ion-list>
				<div id="input-div">
					<label class="item item-input  no-item-margin-border">
						<span class="input-label">CODIGO</span>
						<input type="text" value="PPLCOL00113000000000" ng-model="newItemData.code"/>
					</label>
					<label class="item item-input no-item-margin-border">
						<span class="input-label">DESCRICAO</span>
						<input type="text" value="COLUNA NORMAL CH12 2800MM" ng-model="newItemData.description"/>
					</label>
					<div class="item item-input-inset no-item-margin-border ">
						<span class="input-label input-label-flex" >QUANTITADE</span>
						<div class="item item-input-inset no-item-margin-border no-padding input-type-flex">
							<label class="border-all">
								<input type="text" ng-model="newItemData.quantity">
							</label>&nbsp;&nbsp;&nbsp;
							<select class="quantity-select-box" ng-model="newItemData.unit">
								<option>gm</option>
								<option selected>Kg</option>
							</select>
						</div>
					</div>
				</div>
				<br/>
				<br/>
				<div class="item item-input-inset no-item-margin-border">
					<span class="input-label"></span>
					<button class="button icon-left fa fa-check"  type="submit">OK</button>&nbsp;&nbsp;&nbsp;
					<button class="button icon-left fa fa-times" ng-click="closeAddItem()">CANCEL</button>				
				</div>
			</ion-list>   
		</form>
	</ion-content>
</div>

