<div class="modal">
	<ion-header-bar align-title="left" class="bar-positive">
		<h1 class="title mfg-add-item-title">MATERIA PRIMA/INSUMOS/COMPONENTS</h1>
		<div class="buttons">
			<button class="button button-icon" ng-click="closeAddItem()"><i class="fa fa-times"></i></button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header">
    <form ng-submit="doLogin()">
      <div class="list">
        <div class="item item-input-inset no-item-margin-border">
			<span class="input-label input-type-flex">CODIGO</span>
			<div class="item-input-wrapper list-item-bgcolor border-all input-type-flex">
				<input type="text" value="PPLCOL00113000000000" ng-model="newItemData.code">
				<i class="fa fa-search placeholder-icon" ng-click="goToProcsSearch()"></i>
			</div>
		</div>
        <div class="item item-input-inset no-item-margin-border">
			<span class="input-label input-type-flex">DESCRICAO</span>
			<div class="item-input-wrapper list-item-bgcolor border-all input-type-flex">
				<input type="text" value="COLUNA NORMAL CH12 2800MM" ng-model="newItemData.description">
				<i class="fa fa-search placeholder-icon" ng-click="goToProcsSearch()"></i>
			</div>
        </div>
		<label class="item item-input-inset no-item-margin-border ">
			<span class="input-label input-type-flex">QUANTITADE</span>
			<label class="border-all input-type-flex">
				<input type="text" ng-model="newItemData.quantity">
			</label>&nbsp;&nbsp;&nbsp;
			<select class="quantity-select-box">
				<option>gm</option>
				<option selected>Kg</option>
			</select>
        </label>
		<br/>
		<br/>
		<div class="item item-input-inset no-item-margin-border">
			<span class="input-label"></span>
			<button class="button icon-left fa fa-check"  type="submit">OK</button>&nbsp;&nbsp;&nbsp;
			<button class="button icon-left fa fa-times" ng-click="closeAddItem()">CANCEL</button>				
		</div>
      </div>
    </form>
  </ion-content>
</div>

