<ion-view title="Checklist">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	<button ng-click="importOrder()" class="button button-icon icon ion-ios7-download-outline"></button>
	<button ng-click="data.showDelete = !data.showDelete" class="button button-icon icon ion-ios7-close-outline"></button>
	
  </ion-nav-buttons>	
	<ion-content class="has-header">  
		<ion-list show-delete="data.showDelete">
			<ion-item ng-repeat="order in orders" href="#/app/checklist/{{order.number}}" >
				{{order.number}} {{order.customer}}
				<ion-delete-button class="ion-ios7-close-outline" ng-click="orders.splice($index, 1)">
				</ion-delete-button>
				<!--<button class="button button-icon" ng-click="orders.splice($index, 1)">
					<i class="ion-ios7-close-outline" ></i>
				</button>-->
			</ion-item>			
		</ion-list>	
	</ion-content>      
</ion-view>
