<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" ></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
  <!--<ion-scroll zooming="false" direction="y" style="height: 800px">
    <img src="img/tile-menu.png">
    <div style="height: 500px; background: url('img/tile-menu.png') norepeat"></div>
	</ion-scroll>-->
	<header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
		<ion-item nav-clear menu-close href="#/app/checklists">
			Lista De Material
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/manufacturing/process">
			Processo de Fabricação
        </ion-item>
      </ion-list>
    </ion-content>    
   
  </ion-side-menu>
</ion-side-menus>

