<ion-header-bar class="bar-positive">
	<div class="buttons header-margin">
		<a href="#/app/checklists" class="button button-icon"><i class="fa fa-chevron-left fa-lg"></i></a>
		<span class="btn-separator"></span>
		<h4 class="text-color-white">&nbsp;&nbsp;MANUFACTURING PROCESS&nbsp;&nbsp;</h4>
		<span class="btn-separator"></span>
		<button class="button button-icon"><i class="fa fa-download fa-lg"></i></button>
		<button class="button button-icon"><i class="fa fa-plus fa-lg"></i></button>		
	</div>
</ion-header-bar>

<ion-content class="content-body">
	<ion-list  show-reorder="data.showReorder">
		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" placeholder="Search" ng-model="process.search">
			</label>
			<button class="button  button-icon icon ion-search"></button>
		</div>
		<div class="item item-input-inset list-item-padding" ng-repeat="process in processes | filter: process.search">
			<label class="item-input-wrapper list-item-bgcolor " ng-click="goDetail({{process.number}})">
				{{process.code}} -{{process.customer}}
			</label>
			<button class="button button-icon icon ion-ios7-close-outline" ng-click="deleteProcesses($index)"></button>
		</div>			
	</ion-list>       
</ion-content>
