<ion-header-bar class="bar-positive">
	<div class="buttons header-margin">
		<a href="#/app/manufacturesearch" class="button button-icon icon ion-ios7-arrow-back"></a>
		<span class="btn-separator"></span>
		<h4 class="text-color-white">&nbsp;&nbsp;{{process.code}}&nbsp;&nbsp;</h4>
		<span class="btn-separator"></span>
		<button class="button button-icon icon ion-checkmark"></button>
		<button class="button button-icon icon ion-printer"></button>		
	</div>
</ion-header-bar>
<ion-content class="content-body">
	       
</ion-content>