<form name="mfgProcessForm" novalidate>
	<ion-header-bar class="bar-positive">
		<div class="buttons header-margin">
			<a href="#/app/manufacturing/process" class="button button-icon"><i class="fa fa-chevron-left"></i></a>
			<span class="btn-separator"></span>
			<h4 class="mfg-page-titles">&nbsp;&nbsp;{{process.code}}&nbsp;&nbsp;</h4>
			<span class="btn-separator"></span>
			<button class="button button-icon" ng-click="mfgProcessForm.$valid ? saveProcess() : '';"><i class="fa fa-check"></i></button>
			<button class="button button-icon" ng-click="deleteProcess(process.id,'Main')"><i class="fa fa-times"></i></button>
			<button class="button button-icon" ng-click="openReport(process.id)"><i class="fa fa-print"></i></button>		
		</div>
	</ion-header-bar>
	<ion-content class="content-body">
		<div class="list">
			<!--The labels will be appear on top of the input field in small screen-->
			<div id="input-div" >
				<label class="item item-input  no-item-margin-border ">
					<span class="input-label">CODIGO</span>
					<input type="text" value="{{process.code}}" name="code" ng-model="process.code" ng-minlength="10" required="required"/>
				</label>
				<label class="item no-item-margin-border " ng-show="mfgProcessForm.$dirty && mfgProcessForm.code.$error.required">
					<span ng-show="mfgProcessForm.$dirty && mfgProcessForm.code.$error.required">Required</span>
				</label>
				<label class="item no-item-margin-border " ng-show="mfgProcessForm.$dirty && mfgProcessForm.code.$error.minlength">
					<span ng-show="mfgProcessForm.$dirty && mfgProcessForm.code.$error.minlength">Minimum length required 10</span>
				</label>
				<label class="item item-input  no-item-margin-border">
					<span class="input-label">DESCRICAO</span>
					<input type="text" value="{{process.description}}" name="desc" ng-model="process.description" ng-minlength="10" required="required">
				</label>
				<label class="item no-item-margin-border" ng-show="mfgProcessForm.$dirty && mfgProcessForm.desc.$error.required">
					<span ng-show="mfgProcessForm.$dirty && mfgProcessForm.desc.$error.required">Required</span>
				</label>
				<label class="item no-item-margin-border" ng-show="mfgProcessForm.$dirty && mfgProcessForm.desc.$error.minlength">
					<span ng-show="mfgProcessForm.$dirty && mfgProcessForm.desc.$error.minlength">Minimum length required 10</span>
				</label>				
			</div>
			<br>
			<div class="item  item-divider">
				<label>REVISOES</<label>						 
			</div>
			<div class="item item-input-inset no-item-margin-border no-padding-top-bottom"  ng-repeat="revision in process.revision">
				<span class="input-label">
					{{revision.date | date:'dd/MM/yyyy'}}
				</span>
				<label>
					{{revision.by}}
				</label>				
			</div>
			<br/>
			<div class="item item-divider item-icon-right">
				<label>OPERACOES</label>
				<i class="icon fa fa-plus-square-o" style="font-size:16px;right: 11px;" ng-click="newOperationForm()"></i>
			</div>
			<div ng-repeat="operation in process.operation">
				<div class="item item-icon-right">
					<p class="no-item-margin-border" ng-click="goToOperationForm(operation.id, $index)">{{operation.sequence}} - {{operation.name}}</p>
					<i class="icon fa fa-times-circle-o" ng-click="deleteOperation(process.id, operation.id, $index)"></i>				
				</div>				
				<div class="item item-icon-right" ng-repeat="input in operation.consume">
					<p class="procs-sequnce-margin" ng-click="openOperationItem('CONSUME', operation.id, input.id, $index)">{{input.description}}</p>
					<i class="icon fa fa-times-circle-o"  ng-click="deleteConsume(input.id, $index,'OperationProcs')"></i>
				</div>			
			</div>
		</div>
	</ion-content>
</form>