/* Empty. Add your own CSS if you like */
.list-item-padding{
	padding:0px;
}
.list-item-bgcolor{
	background-color:#FFFFFF;
}
.body-bg-color{
	background-color:#FFFFFF !important;
}
.element-border-all{
  border: 1px solid #464646 !important;
}
.element-border-right{
  border-right: 1px solid #464646 !important;
}
.space-wrap{
	white-space: normal !important;
}
.no-padding{
	padding:0px;
}
.text-align-cener{
	text-align:center;
}
.text-align-right{
	text-align:right;
}