/* Empty. Add your own CSS if you like */

/*Added to make the view color white instead of default color black*/
ion-nav-view{
	background-color:#FFFFFF !important;
}
.list-item-padding{
	padding:0px;
}
.list-item-bgcolor{
	background-color:#FFFFFF;	
}
.border-all{
	border: 1px solid #EEEEEE;
}
.space-wrap{
	white-space: normal !important;
}
.no-padding{
	padding:0px;
}
.text-align-cener{
	text-align:center;
}
.text-align-right{
	text-align:right;
}
.text-align-left{
	text-align:left;
}
.text-color-white{
	color:#FFFFFF;
}
.content-body{
	margin-left: 30px;
	margin-right: 30px;
	background-color:#FFFFFF!important;
}
.header-margin{
	margin-left: 30px;
	margin-right: 30px;
}
.row + .row {
	margin-top: 0px;
	padding-top: 0;
}
.order-row-custom-styles{
	background-color:#C8C8C8 ;
	padding:1px;
}
.no-item-margin-border{
	margin:0px;
	border:none;	
}
.col-bg-color{
	background-color:#FFFFFF!important;	
	
}
.col-padding{
	margin-right:1px;	
}
.label-font-style{
	font-size: 10px;
}

.btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #DDD;
    margin: 0px;
    min-height: 40px;
    width: 1px;
	position:relative;
}
/*CSS code for checklist page*/

/**/
/*CSS code for checklist form page*/
.min-60 { min-width: 60px; }
.min-50 { min-width: 50px; }
.min-705 { min-width:705px; }
.min-350 { min-width: 350px; }
.max-50 { max-width: 50px; }
.width-10{width: 10%;}
.width-50{width: 50%;}
.width-fix-50{width: 50px;}
.width-10{width: 10%;}

@media only screen and (max-width: 800px) {
	.responsive-sm .col, .responsive-sm .col-10, .responsive-sm .col-20, .responsive-sm .col-25, .responsive-sm .col-33, .responsive-sm .col-34, .responsive-sm .col-50, .responsive-sm .col-66, .responsive-sm .col-67, .responsive-sm .col-75, .responsive-sm .col-80, .responsive-sm .col-90 {
		margin-bottom: 1px;
    
	}
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
		display: block;
    }
     
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
    }
    #no-more-tables #calc-title {
		display: none;
	}	 
     
    #no-more-tables td {
    /* Behave like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
		max-width:100%;
	}
     
    #no-more-tables td:before {
    /* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		text-align:left;
		font-weight: normal;
		overflow:hidden;
		font-size:10px;		
    }
     
    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}

/*End for css of checklist form*/

/*Start CSS for Manufacturing Process pages*/

.procs-sequnce-margin {
   margin-left: 8%;
   margin-top:0px;
   margin-bottom:0px;
   margin-right:0px;
}
.no-padding-top-bottom{
	padding-top:0px;
	padding-bottom:0px;
}
.icon-font-size{
	font-size: 16px;
}
.quantity-select-box{
	height:34px;
	width:70px;
	box-sizing:border-box;
	border: 1px solid #EEEEEE;
}
.item-icon-right .icon {
	font-size: 16px;    
}
.item .item-input-inset{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mfg-page-titles{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#FFFFFF;
	margin-top: 5px;
	margin-bottom: 5px;
}
.mfg-add-item-title{
	max-width: 70% !important;
    
}
.input-label-flex { 
	display: flex;
}
.input-type-flex { 
	flex: 2 1 100px; 
} 

#input-div input[type=text],
#input-div input[type=email],
#input-div input[type=url],
#input-div input[type=password]{
	width: 100%;
	border: 1px solid #ddd;
	padding:5px;
}
#input-div textarea {
	width: 65%;
	border: 1px solid #ddd;
	padding:5px;
}
@media (max-width: 600px) {	
	#input-div > label {
		background-color: transparent;
		box-shadow: none;
		display: block;
	}
	
	#input-div > label > span{
		font-weight:bold;
		font-size:10px;
	}
	
	#input-div input[type=text],
	#input-div input[type=email],
	#input-div input[type=url],
	#input-div input[type=file],
	#input-div input[type=password],
	#input-div textarea,
	#input-div select {
		width: 100%; 
	}
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}
/*End for css of Manufacturing process pages*/

/**/
.order-import-font{
	font-size: 32px !important;
	color:black !important;
	font-weight:bold;
	text-align:center;
}
/**/